# Node.js
node_modules/

.env
.env.*.local

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

dist/
build/
coverage/

*.tmp
tmp/
temp/

.DS_Store
Thumbs.db

.vscode/
.idea/

*.swp
*.swo
*.bak

coverage/

pids
*.pid
*.seed

uploads/
